
    footer{
        margin-top: 0px;
        height: 380px;
        width: 100%;
        background: url(../svg/footer.svg) no-repeat;
        background-size: auto;
        background-position: center;
        
        .container{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: 140px;
    
            h2{
                color: $branco;
                text-align: center;
                margin: 0 auto;
            }

            .btn-secundario{
                margin: 24px auto;
            }
    
            .copyright{
                margin-top: 12px;
                font-size: 14px;
                color: $branco;
                width: 100%;
                text-align: center;
            }
    
        }
    }

@media only screen and (min-width: 768px){
    footer{
        margin-top: 0px;
        height: 440px;
        
        .container{
            padding-top: 180px;
    
            h2{
                max-width: 480px;
                margin: 0;
                text-align: left;
            }

        .btn-secundario{
            margin: 24px 0;
        }
    
            .copyright{
                margin-top: 60px;
            }
    
        }
    }
    
}

@media only screen and (min-width: 960px){

    footer{
        
        .container{
            padding-top: 200px;
    
            h2{
                max-width: 560px;
            }

            .btn-secundario{
                margin: 0;
            }
    
            .copyright{
                margin-top: 60px;
            }
    
        }
    }

}

@media only screen and (min-width: 1200px){

    footer{
        height: 480px;
        
        .container{
            padding-top: 220px;
    
            h2{
                max-width: 600px;

            }

            .btn-secundario{
                margin: 0;
            }
    
            .copyright{
                margin-top: 60px;
            }
    
        }
    }
} 